/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2018, 5:59:39 PM
    Author     : Rafli
*/

.div {
    
}

.b1 {
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    border: dotted;
    cursor: pointer;
    width: 100%; 
    text-align: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color: cornflowerblue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1%;
    padding-right: 1%;
    width: 10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.menu_item {
    width: 10%;
    padding-right: 1%;
    margin-left: 1%;
    text-align: center;
    border-color: black;
    border-style: dotted;
    cursor: pointer;
}

.menu_item:hover, .menu_item:focus {
    background-color: cornflowerblue;
}

#header {
    background-color: black;
    height: 100px;
    width: 100%;
    margin-bottom: 0.3%;
    border-radius: 10px;
}

#body {
    background-color: green;
    width: 100%;
    border-radius: 10px;
    
}

#menubar {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-right: 0.5%;
    display: flex;
    margin-bottom: 0.2%;
}

#main {
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


#testphp {
    background-color: coral;
}

#dlLink {
    margin: auto;
    color: black;
    text-align: center;
}

#tambahPegawaiLink {
    color:black;
}

#table-form {
    background-color: white;
    border-radius: 5px;
}

#form {
    margin: 1% 2% 0 49.75%;
}

body {
    background-color: yellow;
}

